.contents {
	min-width: 900px;
	padding: 0 15%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.contents h2 {
	font-size: 18px;
}

.orderForm {
	width: 100%;
	margin-top: 30px;
}

.title {
	margin-top: 50px;
	margin-bottom: 10px;
}

.title > h3 {
	font-size: 13px;
	width: 100%;
	min-width: 900px;
	text-align: left;
}

table {
	min-width: 900px;
	width: 100%;
	margin: 0 auto;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ddd;
	min-height: 44px;
	font-size: 12px;
}

.orderInfo {
	text-align: left;
}

.orderInfoTable th {
	width: 150px;
	padding-left: 10px;
}

.orderInfoTable, .orderInfoTable th, .orderInfoTable td {
	border-left: none;
}

.orderInfoTable, .orderInfoTable th, .orderInfoTable td {
	padding-left: 10px;
	border-right: none;
}

.orderInfoTable th, td {
	height: 44px;
}

.orderInfoTable button {
	width: 64px;
	height: 24px;
	border: 1px solid #ddd;
	background: #fff;
}

.orderInfoTable button:hover {
	cursor: pointer;
	color: #555;
}

#orderListArea {
	width: 100%;
}

.orderListTable {
	width: 100%;
	border-left: none;
	border-right: none;
}

.orderListTable input {
	display: block;
	margin: auto;
}

.orderListTable th:first-child, .orderListTable td:first-child{
	padding: 12px 0;
}

.orderListTable th {
	border-left: none;
	border-right: none;
}

.orderListTable td {
	border-left: none;
	border-right: none;
}

.orderArea {
	width: 100%;
}

.orderAreaTable {
	min-width: 900px;
	width: 100%;
}

.orderAreaTable {
	border: none;
}

.orderAreaTable th {
	border-left: none;
	width: 150px;
}

.orderAreaTable tr td {
	text-align: left;
	padding: 8px 10px 07px;
	border-right: none;
}

#omessage {
	display: block;
}

.orderAreaTable th{
	width: 150px;
}

#omessage {
	display: block;
}

.buttonPlace {
	min-width: 900px;
	width: 100%;
	height: 60px;
	text-align: right;
	padding: 10px 0;
	margin-top: 30px;
}

#showOrderList {
	width: 120px;
	height: 40px;
	color: #fff;
	display: inline-block;
	background: #000;
	text-align: center;
	padding: 10px 8px;
}